{{ block "players" . }}
<div>
    <h1>Players</h1>

    <div>
        Add new player
        {{ template "player_form" . }}
    </div>

    <div>
        {{ template "player_list" .}}
    </div>
</div>
{{ end }}


{{ block "player_form" . }}
<form hx-post="/new_player" hx-target="#player_list" hx-swap="outerHTML">
    name: <input type="text" name="name" />
    <button type="submit">Add Player</button>
</form>

{{ end }}

{{ block "player_list" . }}
<!-- will hold a list of player cards to display the player information -->
<div id="player_list">
    {{ range .Players }}
        <!-- arugment of '.' is current player in list -->
        {{template "player_card" . }}
    {{ end }}
</div>
{{ end }}

{{ block "player_card" .}}
<!-- display for player stats -->
    <div hx-target="this" hx-swap="outerHTML">
        <h3>{{.Name}}</h3>
        <div><label>Games Played</label>: {{.Games_played}}</div>
        <div><label>Wins</label>: {{.Wins}}</div>
        <div><label>Losses</label>: {{.Losses}}</div>
        <div><label>Tricks</label>: {{.Tricks}}</div>
        <div><label>Lone Hands</label>: {{.Lone_hands}}</div>
        <button hx-get="/players/edit" hx-vals="js:{p_id: {{.Id}}}">Edit</button>
    </div>
{{ end }}

{{ block "player_update_card" .}}
<!-- display for player stats -->
    <form hx-put="/players" hx-vals="js:{p_id: {{.Id}}}" hx-target="this" hx-swap="outerHTML">
        <h3>{{.Name}}</h3>
        <div>
            <label>Games Played</label>
            <input type="int" name="games_played" value={{.Games_played}}>
        </div>
        <div>
            <label>Wins</label> 
            <input type="int" name="wins" value={{.Wins}}>
        </div>
        <div>
            <label>Losses</label> 
            <input type="int" name="losses" value={{.Losses}}>
        </div>
        <div>
            <label>Tricks</label>
            <input type="int" name="tricks" value={{.Tricks}}>
        </div>
        <div>
            <label>Lone Hands</label>
            <input type="int" name="lone_hands" value={{.Lone_hands}}>
        </div>
        <button >Submit</button>
        <button hx-get="/players" hx-vals="js:{p_id: {{.Id}}}">Cancel</button>
    </form>
{{ end }}